<%- include("top") -%>
<div class="success">
  <form action="/" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">The temperature in <%=cityname%> is <%=deg%>° C.</h1>
    <h1 class="h3 mb-3 font-weight-normal">The weather condtion is <%=des%>.</h1>
    <img src="<%=image%>" class="mb-4 imga" alt="">


  <button class="btn btn-primary btn-block" type="submit" name="button" value="reload">Search Again</button>
  <p class="mt-5 mb-3 text-muted">Developed by Nitin Bhadoriya</p>
  </form>
</div>



<%- include("bottom") -%>
